body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.rc-slider-handle[aria-label]:hover:after {
  position: absolute;
  z-index: 1;
  top: -2.2em;
  left: 0;
  display: block;
  overflow: hidden;
  height: 2em;
  border-radius: 1em;
  padding: 0 0.7em;
  content: attr(aria-label);
  color: black;
  background: lightgray;
  font-size: 1em;
  line-height: 2em;
  text-align: left;
}

.popular-width {
  width: 22rem;
}

.carousel {
  border-radius: 1em;
  overflow: hidden;
  width: 22rem;
}

.heart {
  margin-bottom: -2.5em;
  z-index: 5;
}

.showPhotos {
  margin-top: -4em;
}

.imageSizes {
  object-fit: cover;
  width: 30rem;
  height: 17rem;
}

.popularImg {
  object-fit: cover;
  height: 16.55em;
}

.singleBookSmallImg {
  object-fit: cover;
  width: 30rem;
  height: 15rem;
}

.singleBookBigImg {
  object-fit: cover;
  width: 50rem;
  height: 30rem;
}

.shadowMe {
  box-shadow: 0.1px 1px 12px 1px grey;
  margin-top: -4rem;
}

.biggerModal {
  max-height: 30rem;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.multiselect__input,
.multiselect__input:focus {
  @apply shadow-none ring-0 border-0;
}

.ProseMirror,
.ProseMirror-focused {
  @apply shadow-none ring-0 border-0 outline-none;
}

